@font-face {
    font-family: "Roboto";
    src: url('../fonts/Roboto-Light.ttf') format('truetype');
    font-weight: lighter;
}

@font-face {
    font-family: "Roboto";
    src: url('../fonts/Roboto-Bold.ttf') format('truetype');
    font-weight: bold;
}

@font-face {
    font-family: "Roboto";
    src: url('../fonts/Roboto-LightItalic.ttf') format('truetype');
    font-weight: 300;
}

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;/*  */
}

:root{
    --primary-color: #3882F6;
    --secondary-color:  #1F2937;
    --main-text-color: #F9FAF8;
    --secondary-text-color: #E5E7EB;
    --font-family: "Roboto";
}

body{
    font-family: var(--font-family);
    font-weight: lighter;
    font-style: normal;
    scroll-behavior: smooth;
    color: var(--main-text-color);
}

h2{
    color: var(--secondary-color);
    font-size: 36px;
}

a{
    text-decoration: none;
}

ul{
    list-style: none;
}

.button{
    padding: 8px 36px;
    background: var(--primary-color);
    color: var(--main-text-color);
    border: none;
    border-radius: 8px;
    font-weight: bold;
    cursor: pointer;
    font-family: var(--font-family);
    font-size: 18px;
}

.container{
    max-width: 1100px;
    margin: 0 auto;
    padding: 0 20px;
}

.flex{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.secondaryText{
    font-size: 18px;
    color: var(--secondary-text-color);
    font-weight: lighter;
    line-height: 24px;
}

.margin{
    margin: 50px 0;
}

/* Header */

header .logoText{
    font-size: 24px;
    font-weight: bold;
    display: flex;
    align-items: center;
    gap: 10px;
}

header .logoImage{
    color: var(--primary-color);
}

header .navbar .items{
    display: flex;
    gap: 20px;/*  */
}

header .navbar .item a{
    font-size: 18px;
    font-weight: lighter;
    padding: 10px;
}

header .navbar .item a:hover{
    color: var(--primary-color);
    font-weight: bold;
    transition: .2s ease-in-out;
}

/* Footer */
footer{
    background-color: var(--secondary-color);
    padding: 30px 0;
    text-align: center;
    margin-top: 100px;
 }

 /* Media Queries */

 @media(max-width: 501px){
    header .navbar .items{
        gap: 5px;
    }

    header .navbar .item a{
        padding: 5px;
    }
   
    footer{
        margin-top: 50px;
    }
 }