/* Hero */

.hero{
    background-color: var(--secondary-color);
    min-height: 100vh;
    padding-top: 30px;
}

header .logoText{
    color: var(--main-text-color);
}

header .navbar .item a{
    color: var(--secondary-text-color);
}

.sectionHero{
    height: 90vh;
}

.sectionHeroContents{
    width: 500px;
}

.sectionHeroContents .mainText{
    font-size: 48px;
    font-weight: bold;
    margin-bottom: 10px;
}

.sectionHeroContents .secondaryText{
    margin-bottom: 20px;  
}

.sectionHeroImage{
    width: 400px;
}

/* Section 2 */
.informationSection{
    margin: 50px 0 100px 0;
}

.informationSection h2{
    text-align: center;
    margin-bottom: 50px;
}

.informationSectionContents{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 60px;
}

 .section2 article{
    width: 160px;
    min-height: 122px;
 }

 .section2 .informationSectionContents .texts{
    color: var(--secondary-color);
    margin-top: 10px;
    text-align: center;
    font-size: 18px;
    line-height: 27px;
 }

 .section2 article p{
    text-align: center;
    margin-top: 5px;
    color: var(--secondary-color);
 }

 /* Section 3 */
 .section3{
    background-color: var(--secondary-text-color);
    color: var(--secondary-color);
    padding: 100px 0;
    margin-bottom: 100px;
 }

 .section3Contents{
    max-width: 850px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;
    color: var(--secondary-color);
    padding: 0 20px;
 }

 .section3 p{
    font-size: 36px;
    margin-bottom: 10px; 
    font-weight: 300;
 }

 .section3 strong{
    font-size: 24px;
    font-weight: bold;
 }

  /* Section 4 */
  .section4{
    background-color: var(--primary-color);
    padding: 50px 150px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .section4Contents strong{
    font-size: 24px;
  }

  .section4Contents p{
    font-size: 20px;
  }

  .section4 .btn{
    border: 3px solid var(--main-text-color);
  }

 /* Footer */
 footer{
    background-color: var(--secondary-color);
    padding: 30px 0;
    text-align: center;
    margin-top: 100px;
 }

 /* Media Queries */

 @media(max-width: 1024px){
    .section4{
        padding: 50px 20px;    
    }          
}

 @media(max-width: 768px){
    .sectionHeroContents .mainText{
        font-size: 36px;
    }
    .informationSection h2{
        font-size: 24px;
    }
    .informationSectionContents{
        gap: 10px;
    }
    .section3 p{
        font-size: 24px;
    }
    .section4Contents strong{
        font-size: 20px;
    }
    .section4Contents p{
        font-size: 18px;
    }
 }

 @media(max-width: 501px){
    header .navbar .items{
        gap: 5px;
    }
    header .navbar .item a{
        padding: 5px;
    }
    .hero{
        min-height: 60vh;
    }
    .sectionHero{
        height: 50vh;
    }
    .sectionHeroImage{
        display: none;
    }
    .informationSection{
        margin: 50px 0 50px 0;
    }
    .informationSectionContents{
        display: block;
    }
    .section2 article{
        width: 60%;
        margin: 0 auto;
        margin-bottom: 20px;
    }
    .section3{
        padding: 50px 0;
        margin-bottom: 50px;
     }
     .section3 p{
        font-size: 20px;
    }
    .section4{
        display: block;
    }
   .section4Contents p{
        margin-bottom: 10px;
    }
    footer{
        margin-top: 50px;
    }
 }